<table class="table table-dark table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Last modified</th>
      <th scope="col">Version</th>
      <th scope="col">Data type</th>
    </tr>
  </thead>
  <tbody>
    <% environment_variables.each do |variable| %>
      <tr>
        <td><%= variable.name %></td>
        <td><%= variable.value %></td>
        <td><%= variable.last_modified_date %></td>
        <td><%= variable.version %></td>
        <td><%= variable.data_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
