<div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12">
  <h1 class="mt-4 mb-4"><%= I18n.t("page_title.infrastructures") %></h1>

  <div class="alert alert-warning" role="alert">
    <p><%= I18n.t("alerts.introduction_warning.short") %></p>
    <p><%= I18n.t("alerts.introduction_warning.long") %></p>
  </div>

  <ul class="list-group">
    <% @infrastructures.each do |infrastructure| %>
      <li class="list-group-item" id=<%= infrastructure.id %>>
        <%= infrastructure.identifier %>
        <%= link_to "View", infrastructure_path(infrastructure), class: "btn btn-primary float-right", role: "button" %>
      </li>
    <% end %>
  </ul>
</div>
