<div class="col-4 offset-4">
  <h1 class="mt-5">Create or update variable</h1>

  <p>If you provide an existing variable name this will update the existing value. It is case sensitive.</p>
  <%= simple_form_for(@environment_variable, as: :environment_variable, method: :post, url: infrastructure_environment_variables_path(@infrastructure)) do |f| %>
    <%= f.input :service_name, as: :hidden, :input_html => { :value => service_name } %>
    <%= f.input :environment_name, as: :hidden, :input_html => { :value => environment_name } %>
    <%= f.input :name %>
    <%= f.input :value %>
    <%= f.submit "Create or update variable", class: "btn btn-success" %>
  <% end %>
</div>
