<h1 class="mt-4 mb-4"><%= @infrastructure.identifier %></h1>

<%= render "shared/tabs", locals: { infrastructure: @infrastructure } %>

<div class="col-12 col-md-12 pt-4">
  <% @pipelines.each do |pipeline| %>
    <h2 class="mb-4"><%= pipeline.name %></h2>
    <%= link_to I18n.t("button.execute"), new_infrastructure_build_path(@infrastructure, pipeline: pipeline.name), class: "btn btn-success" %>
    <%= render "shared/pipeline_build_cards", locals: { pipeline: pipeline, infrastructure: @infrastructure } %>
  <% end %>
</div>
