<h1 class="mt-4 mb-4"><%= @infrastructure.identifier %></h1>

<%= render "shared/tabs", locals: { infrastructure: @infrastructure } %>

<div class="col-12 col-md-12 pt-4">
  <h1 class="mt-4 mb-4">Code Pipelines</h1>

  <% @pipeline_states.each do |pipeline_state| %>
    <h2 class="mt-4 mb-4"><%= pipeline_state.pipeline_name %></h2>

    <div class="row">
      <% pipeline_state.stage_states.each do |stage| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card mb-4 stage-<%= stage.stage_name.downcase %>">
            <h5 class="card-header"><%= stage.stage_name %></h5>
            <div class="card-body">
              <h5 class="card-title">Actions</h5>
              <% stage.action_states.each do |action| %>
                <div class="card mb-4" style="width: 18rem; mb-4">
                  <div class="card-body">
                    <h5 class="card-title"><%= action.action_name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= action.latest_execution.last_status_change %></h6>
                    <p class="card-text"><%= action.latest_execution.status%></p>
                    <%= link_to "View in AWS", action.latest_execution.try(:external_execution_url), target: "_blank", class: "card-link" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
