<table class="table table-dark table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Last modified</th>
      <th scope="col">Version</th>
      <th scope="col">Data type</th>
    </tr>
  </thead>
  <tbody>
    <% infrastructure_variables.each do |variable| %>
      <tr>
        <td>
          <%= form_tag(infrastructure_variable_path(infrastructure, id: variable.name), method: :delete) do %>
            <%= hidden_field_tag 'infrastructure_variable[name]', variable.name %>
            <%= hidden_field_tag 'infrastructure_variable[environment_name]', environment_name %>
            <%= submit_tag "Delete", class: "btn btn-danger", "data-confirm" => "Are you sure you want to remove '#{variable.name}' for the '#{environment_name}' environment?" %>
          <% end %>
        </td>
        <td class="text-break"><%= variable.name %></td>
        <td class="text-break"><%= variable.value %></td>
        <td><%= variable.last_modified_date %></td>
        <td><%= variable.version %></td>
        <td><%= variable.data_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
