<div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12">
  <%= render "shared/breadcrumbs", locals: { infrastructure: @infrastructure, environment_name: environment_name } %>

  <h1><%= I18n.t("page_title.infrastructure_variable.new") %></h1>

  <p>If you provide an existing variable name this will update the existing value. It is case sensitive.</p>
  <%= simple_form_for(@infrastructure_variable, as: :infrastructure_variable, method: :post, url: infrastructure_variables_path(@infrastructure, environment_name: environment_name)) do |f| %>
    <%= f.input :environment_name, as: :hidden, :input_html => { :value => environment_name } %>
    <%= f.input :name %>
    <%= f.input :value %>
    <%= f.submit I18n.t("button.add_or_update_variable"), class: "btn btn-success" %>
  <% end %>
</div>
